version: '3.8'

services:
  sentinel-view:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sentinel-view-app
    ports:
      - "3000:3000"
    volumes:
      - sentinel-data:/app/data
    environment:
      - NODE_ENV=production
      # Ensure you format the key correctly (replace newlines with \n)
      # - SSH_PRIVATE_KEY=-----BEGIN OPENSSH PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END OPENSSH PRIVATE KEY-----
    restart: unless-stopped

volumes:
  sentinel-data:
    driver: local
